@model IEnumerable<QLY_HOCSINH.Models.DiemDanh>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Danh sách điểm danh</h1>

<p>
    <a asp-action="Create">Thêm điểm danh </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ngay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lop)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ngay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hs.HsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lop.LopId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DiemDanhId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DiemDanhId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DiemDanhId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
