@model IEnumerable<QLY_HOCSINH.Models.GnSoDauBai>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Danh sách sổ đầu bài</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Ghi nhận thêm</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ngay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Noidung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lop)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ngay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Noidung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lop.LopId)
            </td>
            <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.GnId">Edit</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.GnId">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.GnId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
